/xray/xray
/xray/archiver/archiver
/xray/fetcher/fetcher
*.swp
go.sum
upload_download/cmd/upload_download/upload_download
upload_download/cmd/upload_download-cli/upload_download-cli
upload_download/upload_download-cli
upload_download/upload_download
