.vscode/settings.json

# Binaries
basic/cmd/calc-cli/calc-cli
basic/cmd/calc/calc
cellar/cmd/cellar-cli/cellar-cli
cellar/cmd/cellar/cellar
cookies/cmd/session-cli/session-cli
cookies/cmd/session-cli/session-cli
cookies/cmd/session/session
cookies/cmd/session/session
encodings/cbor/cmd/concat-cli/concat-cli
encodings/cbor/cmd/concat/concat
encodings/text/cmd/text-cli/text-cli
encodings/text/cmd/text/text
error/cmd/calc-cli/calc-cli
error/cmd/calc/calc
files/cmd/openapi-cli/openapi-cli
files/cmd/openapi/openapi
files/cmd/openapi/openapi
httpstatus/cmd/hello-cli/hello-cli
httpstatus/cmd/hello/hello
interceptors/bin/
interceptors/cmd/interceptors-cli/interceptors-cli
interceptors/cmd/interceptors/interceptors
interceptors/cmd/tokgen/tokgen
multipart/cmd/resume-cli/resume-cli
multipart/cmd/resume/resume
security/hierarchy/cmd/hierarchy-cli/hierarchy-cli
security/hierarchy/cmd/hierarchy/hierarchy
security/multiauth/cmd/multi_auth-cli/multi_auth-cli
security/multiauth/cmd/multi_auth/multi_auth
sse/cmd/monitor-cli/monitor-cli
sse/cmd/monitor-cli/monitor-cli
sse/cmd/monitor/monitor
sse/cmd/monitor/monitor
streaming/cmd/chatter-cli/chatter-cli
streaming/cmd/chatter/chatter
tracing/cmd/calc-cli/calc-cli
tracing/cmd/calc/calc
tus/cmd/upload-cli/upload-cli
tus/cmd/upload-cli/upload-cli
tus/cmd/upload/upload
tus/cmd/upload/upload
upload_download/cmd/upload_download-cli/upload_download-cli
upload_download/cmd/upload_download/upload_download