tus/cmd/upload-cli/upload-cli
tus/cmd/upload/upload
cookies/cmd/session-cli/session-cli
cookies/cmd/session/session
error/cmd/calc/calc

# Output of make build
basic/calc
basic/calc-cli
cellar/cellar
cellar/cellar-cli
cookies/session
cookies/session-cli
encodings/cbor/concat
encodings/cbor/concat-cli
encodings/text/text
encodings/text/text-cli
error/calc
error/calc-cli
multipart/resume
multipart/resume-cli
security/multi_auth
security/multi_auth-cli
streaming/chatter
streaming/chatter-cli
tracing/calc
tracing/calc-cli
tus/upload
tus/upload-cli
upload_download/upload_download
upload_download/upload_download-cli
