go 1.24.2

use (
	./basic
	./cellar
	./concerts
	./cookies
	./encodings/cbor
	./encodings/text
	./error
	./files
	./httpstatus
	./interceptors
	./multipart
	./security/hierarchy
	./security/multiauth
	./sse
	./streaming
	./tracing
	./tus
	./upload_download
)
