openapi: 3.0.3
info:
  title: Encodings Service
  description: Encoding example service demonstrating the use of different content types
  version: "1.0"
servers:
- url: localhost:80
paths:
  /concatbytes/{a}/{b}:
    get:
      tags:
      - text
      summary: concatbytes text
      operationId: text#concatbytes
      parameters:
      - name: a
        in: path
        description: Left operand
        required: true
        schema:
          type: string
          description: Left operand
          example: Commodi architecto voluptas nobis.
        example: Temporibus itaque facilis animi laudantium fugiat.
      - name: b
        in: path
        description: Right operand
        required: true
        schema:
          type: string
          description: Right operand
          example: Ut esse aliquam sunt sed dolor quam.
        example: Velit aliquid magni.
      responses:
        "200":
          description: ""
          content:
            text/html:
              schema:
                type: string
                example:
                - 79
                - 100
                - 105
                - 111
                - 32
                - 98
                - 101
                - 97
                - 116
                - 97
                - 101
                - 32
                - 102
                - 97
                - 99
                - 101
                - 114
                - 101
                - 32
                - 113
                - 117
                - 105
                - 115
                - 113
                - 117
                - 97
                - 109
                - 32
                - 118
                - 111
                - 108
                - 117
                - 112
                - 116
                - 97
                - 116
                - 101
                - 115
                - 46
                format: binary
              example:
              - 69
              - 116
              - 32
              - 118
              - 101
              - 108
              - 105
              - 116
              - 32
              - 97
              - 117
              - 116
              - 32
              - 102
              - 117
              - 103
              - 105
              - 116
              - 32
              - 112
              - 111
              - 115
              - 115
              - 105
              - 109
              - 117
              - 115
              - 46
  /concatbytesfield/{a}/{b}:
    get:
      tags:
      - text
      summary: concatbytesfield text
      operationId: text#concatbytesfield
      parameters:
      - name: a
        in: path
        description: Left operand
        required: true
        schema:
          type: string
          description: Left operand
          example: Voluptas aut ipsam.
        example: Pariatur sit vero accusamus corrupti neque.
      - name: b
        in: path
        description: Right operand
        required: true
        schema:
          type: string
          description: Right operand
          example: Ab nisi autem.
        example: Odit et ut repellendus.
      responses:
        "200":
          description: ""
          content:
            text/html:
              schema:
                type: string
                example:
                - 70
                - 117
                - 103
                - 105
                - 116
                - 32
                - 115
                - 105
                - 109
                - 105
                - 108
                - 105
                - 113
                - 117
                - 101
                - 32
                - 99
                - 111
                - 110
                - 115
                - 101
                - 113
                - 117
                - 97
                - 116
                - 117
                - 114
                - 32
                - 101
                - 116
                - 32
                - 109
                - 111
                - 108
                - 101
                - 115
                - 116
                - 105
                - 97
                - 115
                - 32
                - 98
                - 101
                - 97
                - 116
                - 97
                - 101
                - 46
                format: binary
              example:
              - 85
              - 116
              - 32
              - 115
              - 101
              - 100
              - 32
              - 112
              - 101
              - 114
              - 115
              - 112
              - 105
              - 99
              - 105
              - 97
              - 116
              - 105
              - 115
              - 32
              - 100
              - 117
              - 99
              - 105
              - 109
              - 117
              - 115
              - 32
              - 118
              - 111
              - 108
              - 117
              - 112
              - 116
              - 97
              - 115
              - 32
              - 115
              - 105
              - 109
              - 105
              - 108
              - 105
              - 113
              - 117
              - 101
              - 46
  /concatstringfield/{a}/{b}:
    get:
      tags:
      - text
      summary: concatstringfield text
      operationId: text#concatstringfield
      parameters:
      - name: a
        in: path
        description: Left operand
        required: true
        schema:
          type: string
          description: Left operand
          example: Et culpa quis aut.
        example: Fugit nam incidunt vitae doloremque unde.
      - name: b
        in: path
        description: Right operand
        required: true
        schema:
          type: string
          description: Right operand
          example: Ullam quos eum modi culpa vel.
        example: Saepe inventore et.
      responses:
        "200":
          description: ""
          content:
            text/html:
              schema:
                type: string
                example: Aut molestias magni iusto ad aut.
              example: Non aut sapiente nemo hic.
  /concatstrings/{a}/{b}:
    get:
      tags:
      - text
      summary: concatstrings text
      operationId: text#concatstrings
      parameters:
      - name: a
        in: path
        description: Left operand
        required: true
        schema:
          type: string
          description: Left operand
          example: Alias corporis.
        example: Et aut necessitatibus ad.
      - name: b
        in: path
        description: Right operand
        required: true
        schema:
          type: string
          description: Right operand
          example: Nihil a molestiae vitae.
        example: Eum veritatis harum.
      responses:
        "200":
          description: ""
          content:
            text/html:
              schema:
                type: string
                example: Tempora quia quia omnis quia reiciendis nostrum.
              example: Asperiores rerum laudantium.
  /swagger.json:
    get:
      tags:
      - text
      summary: Download ../../gen/http/openapi.json
      operationId: text#/swagger.json
      responses:
        "200":
          description: File downloaded
components: {}
