swagger: "2.0"
info:
    title: ""
    version: 0.0.1
host: localhost:80
consumes:
    - application/json
    - application/xml
    - application/gob
produces:
    - application/json
    - application/xml
    - application/gob
paths:
    /records/{tenantID}:
        post:
            tags:
                - interceptors
            summary: create interceptors
            description: Create a new record with all interceptors in action
            operationId: interceptors#create
            parameters:
                - name: tenantID
                  in: path
                  description: Valid UUID representation as per RFC 4122
                  required: true
                  type: string
                - name: Authorization
                  in: header
                  description: JWT auth token
                  required: true
                  type: string
                - name: CreateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/InterceptorsCreateRequestBody'
                    required:
                        - value
            responses:
                "201":
                    description: Created response.
                    schema:
                        $ref: '#/definitions/InterceptorsCreateResponseBody'
                        required:
                            - id
                            - value
                            - tenant
                            - status
                            - processedAt
                            - duration
            schemes:
                - http
    /records/{tenantID}/{recordID}:
        get:
            tags:
                - interceptors
            summary: get interceptors
            description: Get retrieves a record by ID with all interceptors in action
            operationId: interceptors#get
            parameters:
                - name: tenantID
                  in: path
                  description: Valid UUID representation as per RFC 4122
                  required: true
                  type: string
                - name: recordID
                  in: path
                  description: Valid UUID representation as per RFC 4122
                  required: true
                  type: string
                - name: Authorization
                  in: header
                  description: JWT auth token
                  required: true
                  type: string
                - name: GetRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/InterceptorsGetRequestBody'
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/InterceptorsGetResponseBody'
                        required:
                            - id
                            - value
                            - tenant
                            - status
                            - processedAt
                            - duration
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/InterceptorsGetNotFoundResponseBody'
                "503":
                    description: Service Unavailable response.
                    schema:
                        $ref: '#/definitions/InterceptorsGetUnavailableResponseBody'
            schemes:
                - http
    /records/{tenantID}/stream:
        get:
            tags:
                - interceptors
            summary: stream interceptors
            description: Stream records
            operationId: interceptors#stream
            parameters:
                - name: tenantID
                  in: path
                  description: Valid UUID representation as per RFC 4122
                  required: true
                  type: string
                - name: Authorization
                  in: header
                  description: JWT auth token
                  required: true
                  type: string
            responses:
                "101":
                    description: Switching Protocols response.
                    schema:
                        $ref: '#/definitions/InterceptorsStreamResponseBody'
                        required:
                            - id
                            - value
                            - tenant
                            - status
            schemes:
                - ws
definitions:
    InterceptorsCreateRequestBody:
        title: InterceptorsCreateRequestBody
        type: object
        properties:
            spanID:
                type: string
                description: Unique span ID for request, initialized by the TraceRequest interceptor
                example: 75b55cd5-aea8-423f-9ff6-844a31978d6c
                format: uuid
            traceID:
                type: string
                description: Unique trace ID for request, initialized by the TraceRequest interceptor
                example: 9f7d0eba-d7b2-4e6c-817d-e099f6dab4bf
                format: uuid
            value:
                type: string
                description: Value to store in record
                example: Laudantium est quaerat illum nam reiciendis reiciendis.
        example:
            spanID: 4a0da2ee-ac8f-4e8e-8819-4db9efc5bdc4
            traceID: 2c8b27e9-6194-43d2-ba27-9875797dc77e
            value: Beatae labore quisquam quaerat illum.
        required:
            - value
    InterceptorsCreateResponseBody:
        title: InterceptorsCreateResponseBody
        type: object
        properties:
            duration:
                type: integer
                description: Processing duration in ms
                example: 2171019807132332936
                format: int64
            id:
                type: string
                description: ID of the created record
                example: 3f4b144e-3ff9-4a1b-a971-d1cd2d517269
                format: uuid
            processedAt:
                type: string
                description: Timestamp when processed
                example: Omnis commodi omnis saepe et.
            retryCount:
                type: integer
                description: Number of retry attempts made
                example: 6916716828082265907
                format: int64
            retryDuration:
                type: integer
                description: Total time spent retrying
                example: 1588786813349030593
                format: int64
            status:
                type: integer
                description: Response status code
                example: 8664625185973302218
                format: int64
            tenant:
                type: string
                description: Tenant the record belongs to
                example: Sed quas non praesentium ea distinctio soluta.
            value:
                type: string
                description: Value of the record
                example: Magni dolorum quaerat.
        example:
            duration: 4869933774299120006
            id: 2a29c56b-ab4c-4e56-add5-dad0e4c42df5
            processedAt: Ad minus quisquam doloribus voluptatem eligendi voluptas.
            retryCount: 1826754657455617815
            retryDuration: 3876140198211973756
            status: 4466777386667588813
            tenant: Et expedita.
            value: Illo aut.
        required:
            - id
            - value
            - tenant
            - status
            - processedAt
            - duration
    InterceptorsGetNotFoundResponseBody:
        title: 'Mediatype identifier: application/vnd.goa.error; view=default'
        type: object
        properties:
            fault:
                type: boolean
                description: Is the error a server-side fault?
                example: true
            id:
                type: string
                description: ID is a unique identifier for this particular occurrence of the problem.
                example: 123abc
            message:
                type: string
                description: Message is a human-readable explanation specific to this occurrence of the problem.
                example: parameter 'p' must be an integer
            name:
                type: string
                description: Name is the name of this class of errors.
                example: bad_request
            temporary:
                type: boolean
                description: Is the error temporary?
                example: false
            timeout:
                type: boolean
                description: Is the error a timeout?
                example: true
        description: Record not found (default view)
        example:
            fault: false
            id: 123abc
            message: parameter 'p' must be an integer
            name: bad_request
            temporary: false
            timeout: true
        required:
            - name
            - id
            - message
            - temporary
            - timeout
            - fault
    InterceptorsGetRequestBody:
        title: InterceptorsGetRequestBody
        type: object
        properties:
            spanID:
                type: string
                description: Unique span ID for request, initialized by the TraceRequest interceptor
                example: 3a6d4575-403b-44e7-b8d0-80cb848045c8
                format: uuid
            traceID:
                type: string
                description: Unique trace ID for request, initialized by the TraceRequest interceptor
                example: 13112221-e917-438b-985e-ed8585bf4600
                format: uuid
        example:
            spanID: ed133861-22f0-484d-b2f5-28e8ae5d7432
            traceID: 7a25edf3-c19a-40c6-ba09-31d51ae73a9c
    InterceptorsGetResponseBody:
        title: InterceptorsGetResponseBody
        type: object
        properties:
            cachedAt:
                type: string
                description: Time at which the record was cached, written by the Cache interceptor
                example: Odit maxime architecto quas.
            duration:
                type: integer
                description: Processing duration in ms, written by the RequestAudit interceptor
                example: 5750883049333280239
                format: int64
            id:
                type: string
                description: ID of the record
                example: bed5c038-b8a3-4c74-ad9a-0c28ed36b35c
                format: uuid
            processedAt:
                type: string
                description: Timestamp when processed, written by the RequestAudit interceptor
                example: Amet quidem officiis.
            retryCount:
                type: integer
                description: Number of retry attempts made, written client-side by the Retry interceptor
                example: 8386110885299684938
                format: int64
            retryDuration:
                type: integer
                description: Total time spent retrying, written client-side by the Retry interceptor
                example: 7022243602263872546
                format: int64
            status:
                type: integer
                description: Response status code
                example: 7943804717636080604
                format: int64
            tenant:
                type: string
                description: Tenant the record belongs to
                example: Quam fugit quo.
            value:
                type: string
                description: Value of the record
                example: Expedita iusto corporis laborum odit illum.
        example:
            cachedAt: Ipsa quia nihil.
            duration: 3498715865159369148
            id: 00df7b6e-d658-4ae5-9d4f-4ac7884874ec
            processedAt: Totam deserunt deleniti quos perspiciatis.
            retryCount: 5926575681385628458
            retryDuration: 8636704204791620522
            status: 9217518197149142153
            tenant: Eligendi atque reprehenderit aperiam aut ad.
            value: Facilis sit optio reiciendis recusandae.
        required:
            - id
            - value
            - tenant
            - status
            - processedAt
            - duration
    InterceptorsGetUnavailableResponseBody:
        title: 'Mediatype identifier: application/vnd.goa.error; view=default'
        type: object
        properties:
            fault:
                type: boolean
                description: Is the error a server-side fault?
                example: true
            id:
                type: string
                description: ID is a unique identifier for this particular occurrence of the problem.
                example: 123abc
            message:
                type: string
                description: Message is a human-readable explanation specific to this occurrence of the problem.
                example: parameter 'p' must be an integer
            name:
                type: string
                description: Name is the name of this class of errors.
                example: bad_request
            temporary:
                type: boolean
                description: Is the error temporary?
                example: false
            timeout:
                type: boolean
                description: Is the error a timeout?
                example: true
        description: Temporary error (default view)
        example:
            fault: true
            id: 123abc
            message: parameter 'p' must be an integer
            name: bad_request
            temporary: false
            timeout: false
        required:
            - name
            - id
            - message
            - temporary
            - timeout
            - fault
    InterceptorsStreamResponseBody:
        title: InterceptorsStreamResponseBody
        type: object
        properties:
            id:
                type: string
                description: ID of the created record
                example: e9e989d0-eba0-4b1a-8402-00e68d8500a3
                format: uuid
            spanID:
                type: string
                description: Unique span ID for request, initialized by the TraceRequest interceptor
                example: deb04808-ba03-4e71-a876-dd011b3ecab5
                format: uuid
            status:
                type: integer
                description: Response status code
                example: 187290948259389889
                format: int64
            tenant:
                type: string
                description: Tenant the record belongs to
                example: Amet quaerat est sunt.
            traceID:
                type: string
                description: Unique trace ID for request, initialized by the TraceRequest interceptor
                example: 11773716-f970-4aa1-94e2-b18b3099b3bb
                format: uuid
            value:
                type: string
                description: Value of the record
                example: Consequuntur deleniti nulla animi consequatur labore molestiae.
        example:
            id: f1a9a410-33f4-4ea3-b7b7-4b060da888d5
            spanID: 489bbf0f-f033-46b1-afea-1c594200165e
            status: 1161547734622158204
            tenant: Voluptatem harum illum culpa in.
            traceID: 04d8bf4c-b2e3-46e5-98a3-5378c34a9ef7
            value: Earum velit qui animi labore dolorum.
        required:
            - id
            - value
            - tenant
            - status
