name: build
on: [push, pull_request]
jobs:

  Linux:
    name: Linux
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.19
      uses: actions/setup-go@v3.3.0
      with:
        go-version: 1.19
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3    

    - name: Add $GOPATH/bin to PATH
      run: echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      id: setup_path

    - name: Build
      run: make ci

    - name: Compute code coverage
      run: go test -v -json ./... > ./test-report.json || true 

    - name: Collect Workflow Telemetry
      uses: runforesight/foresight-workflow-kit-action@v1
      if: success() || failure()
      with:
        api_key: ${{ secrets.FORESIGHT_API_KEY }}

    - name: Analyze Test and/or Coverage Results
      uses: runforesight/foresight-test-kit-action@v1
      if: success() || failure()
      with:
        api_key: ${{ secrets.FORESIGHT_API_KEY }}
        test_format: JSON
        test_framework: GOLANG
        test_path: "./test-report.json"