name: build
on: [push, pull_request]
jobs:

  Linux:
    name: Linux
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.21
      uses: actions/setup-go@v5.5.0
      with:
        go-version: '1.21'
        check-latest: true
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v5    

    - name: Add $GOPATH/bin to PATH
      run: echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      id: setup_path

    - name: Run CI for each Makefile
      run: make test
